body{
    background-color: rgb(142, 58, 58);
}

.navbar{
    display: flex;
}

.logo{
    width: 8vw;
}

.location{
    display: flex;
    align-items: center;
}

.location-logo{
   width: 22px;
   height: 22px;
}

.location div p{
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    font-family: Arial, sans-serif;
}

.search-bar{
    width: 40vw;
    height: 33px;
    font-size: 15px;
    outline: none;
    border: none;
    font-family: Arial, sans-serif;
}

.search{
    display: flex;
    align-items: center;
}

.search-content{
    font-family: Arial, sans-serif;
    color: rgba(0, 0, 0, 0.484); 
    font-size: 15px; 
    background-color: #d8d5d5;
    height: 35px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.search-icon{
    width: 25px;
    
}
.search-icon-container{
    height: 35px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8bd19;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}