*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ffffff;
}

.navbar{
    display: flex;
    align-items: center;
    gap: 18px;
    background-color: #131921;
}

.logo{
    width: 8vw;
   
}

.logo-section{
    display: flex;
    align-items: center;
     margin-top: 5px;
    margin-left: 10px;
}

.location{
    display: flex;
    align-items: center;
}

.location-logo{
   width: 22px;
   height: 22px;
}

.location div p{
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    font-family: Arial, sans-serif;
}

.search-bar{
    width: 750px;
    height: 40px;
    font-size: 15px;
    outline: none;
    border: none;
    font-family: Arial, sans-serif;
}

.search{
    display: flex;
    align-items: center;
}

.search-content{
    font-family: Arial, sans-serif;
    color: rgba(0, 0, 0, 0.484); 
    font-size: 15px; 
    background-color: #d8d5d5;
    height: 40px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.search-icon{
    width: 25px;
    
}
.search-icon-container{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8bd19;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.language{
    display: flex;
    align-items: center;
    gap: 5px;
}

.flag-icon{
    width: 25px;
}
.language-contant p{
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    font-family: Arial, sans-serif;
}

.navbar-right-content{
    display: flex;
    flex-direction: column;
}

.right-content-1 p{
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    font-family: Arial, sans-serif;
}
.right-content-2 p{
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    font-family: Arial, sans-serif;
}

.cart-icon{
    width: 100px;
}

.navbar-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #232f3e;
}

.navbar-2-list{
    display: flex;
    gap: 20px;
}

.navbar-2-list li{
    list-style: none;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: Arial, sans-serif;
}

.lines-icon{
    width: 15px;
    height: 10px;
}

.all-list{
    display: flex;
    align-items: center;
    margin-left: 10px;
    gap: 5px;
}

.offer-image{
    height: 40px;
}

.banner-image{
    width: 100%;
}

.product-image{
    height: 150px;
}

.product-images{
    display: grid;
    grid-template-columns: 150px 150px;
    align-items: center;
    justify-items: center;
    gap: 8px;
}
.card-head{
    font-size: 21px;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-weight: 700;
    color: #0f1111;
}
.card-foot{
    font-size: 14px;
    font-family: "Amazon Ember", Arial, sans-serif;
    color: #2162a1;
    cursor: pointer;
}

.image-2{
    width: 150px;
}

.product-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
}